<div class="row-fluid">
    <div class="">
        <p>
            <span itemprop="datePublished" class="d-none">{{ article.date.isoformat() }}</span>
            {% if article.last_modified_date %}<span itemprop="dateModified" class="hidden">{{ article.last_modified_date.isoformat() }}</span>{% endif %}
            <span title="{{ article.date.isoformat() }}">{{ article.date|sidebar_date_format }}</span>  by
            <span class="post-author vcard">
                <span class="fn" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                    <span itemprop="name">{{ article.author }}</span>
                </span>
            </span>
        </p>
        <p>Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>

        <p class="tag_heading">Tags:
        {% for tag in article.tags|sort %}
            <i class="icon-tags muted"></i><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
        </p>

    </div>
    {% if TWITTER_USERNAME and ARTICLE_TWEET_BUTTON %}
        <div class="span10 social_widgets">
            <br />
            {% include "twitter.html" %}
        </div>
    {% endif %}
    {% if ARTICLE_GOOGLEPLUS_BUTTON %}
        <div class="span10">
            {% include "googleplus.html" %}
        </div>
    {% endif %}
</div>
